.home-container{
  background-image: url("/Users/ravikiran_mothukuri/Documents/File_Transfer/Client/src/assets/Home_Background.jpg");
  background-size: cover;        
  background-repeat: no-repeat;   
  background-position: center; 
  height: 100vh;
  width: 100%;
}

.h-heading{
  padding-left: 30px;
  padding-top: 30px;
}

.headi{
  color: mediumaquamarine;
}

